@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------NAV--------------*/

.navegador{
    background-color:rgb(26, 22, 22);
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: baseline; 

}
.navegador ul{
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.navegador ul li a{
    text-decoration: none;
    color: white;
}
.navegador ul li a:hover{
    color: rgba(90, 88, 88, 0.459);
}
.iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
    list-style-type: none;
    align-items: center; 
}
.logo-ig{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
}
.logo-whatsapp{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
}
.navegador .fa-bars{
    display: none;
}

@media(max-width:768px){
    .navegador{
        display: grid;
        grid-template-columns: 3fr 3fr;
        align-items: center; 
    }
    .navegador .fa-bars{
        display: block;
        margin: 10px;
        font-size: 30px;
        color: white;
        order: -1;
    }
    .navegador .fa-bars:hover + ul {
        left: 0;
    }
    .navegador ul {
        position: fixed;
        z-index: 1;
        top: 0;
        left: -500px;
        width: 150px;
        height: 100vh;
        background-color:rgb(26, 22, 22);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        padding-top: 50px;
        transition: 0.20s;
    }
    .navegador ul:hover{
        left: 0;
    }
    .navegador ul li a{
        color: white
    }
    .navegador ul li a:hover{
        color:  rgba(90, 88, 88, 0.459);
    }

}

/* ------------FOOTER--------------*/

footer{
    background-color: rgb(26, 22, 22);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-top: 10px;
}
.logo{
    width: 250px;
    text-align: center;
}
.logo img{
    object-fit: cover;
    width: 70%;
}
.texto-footer{
    color: white;
    font-size: 12px; 
    text-align: center;
}
.mapa{
    text-align: center;
}

/* ------------INDEX--------------*/

main{
    background-color:rgb(26, 22, 22);
}
.bienvenidos{
    padding: 25px;
    text-align: center;
    font-size: xx-large;
    color: white;
    background-color: rgb(26, 22, 22);
}
.carousel-item img{
    object-fit: cover;
    
}

/* ------------NOSOTROS--------------*/

.texto-nosotros{
    text-align: center;
    font-size: x-large;
    color: white;
    padding: 40px;
    background-color: rgb(26, 22, 22);
}
.esquina{
    display: block;
    margin: auto;
    padding: 20px;
    object-fit: cover;
    width: 50%;
}
.cervezas{
    text-align: center;
    font-size: large;
    color: white;
    padding: 20px;
    background-color: rgb(26, 22, 22);
}

/* ------------CARTA--------------*/

.carta{
    padding: 30px;
}
.carta-qr{
    display: block;
    margin: auto;
    padding: 30px;
    object-fit: cover;
    width: 50%;
    border: double 10px white;
    background-color: rgb(26, 22, 22);
}

/* ------------FOTOS--------------*/

.fotos{
    text-align: center;
    padding: 25px;
}
.borja1{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.birra{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.burger{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.papas{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.pizza{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.pedidos{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* ------------CONTACTO--------------*/

.form{
    color:white;
}
.contacto{
    border-bottom: solid 5px white;
    border-top: solid 5px white;
    padding: 15px;
}
.texto-contacto{
    font-size:xx-large;
    color: white;
    background-color: rgb(26, 22, 22);
}
.form fieldset{
    width: 320px;
    text-align: center;
}