.pagina_carta {
    background-image: url(../multimedia/img/logo.jpg);
    background-size: 250px;
    padding: 20px;
    @media (max-width: 768px) {
        padding: 20px 10px;
    }
    .carta {
        width: 50%;
        margin: auto;
        padding: 30px;
        @include flex-column-basic;
        align-items: center;
        padding: 30px;
        gap: 15px;
        background-color: $bgcolor;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
}