.pagina_carta {
    background-image: url(../multimedia/img/logo.jpg);
    background-size: 250px;
    padding: 20px;
    @media (max-width: 768px) {
        padding: 20px 10px;
    }
    .carta {
        padding: 30px;
        .carta-qr {
            display: block;
            margin: auto;
            padding: 30px;
            object-fit: cover;
            width: 40%;
            background-color: $bgcolor;
        @media (max-width: 992px) {
            width: 70%;
        }
        @media (max-width: 768px) {
            width: 80%;
        }
        @media (max-width: 576px) {
            width: 90%;
        }
        }
    }
}