%redes {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    &:hover {
        box-shadow: 8px 8px 15px 5px #ffffffa0;
    }
}

%form {
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
}