.pagina_fotos {
    background-image: url(../multimedia/img/logo.jpg);
    background-size: 250px;
    padding: 30px;
    .fotos {
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 15px;
            transition: 0.3s;
            &:hover{
                transform: scale(1.5);
                border: solid 5px white;
                border-radius: 10px;
            }
        }
    }
}